UserInterfaceState.xcuserstate
.DS_Store
TapMonkeys/TapMonkeys.xcodeproj/project.xcworkspace/xcshareddata/TapMonkeys.xccheckout
TapMonkeys/TapMonkeys.xcodeproj/xcuserdata/kevin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
